*{
    box-sizing: border-box;
}
#layout{
    display: flex;
    flex-wrap: wrap;
}
#nav{
    flex-basis: 100%;
    border-bottom: 1px solid #aaa;
    padding: 20px;
}
#sidebar{
    flex-basis: 20%;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 20px;
}
#content{
    flex-basis: 80%;
    border: 5px solid red;
    padding: 20px;
    border-bottom: 1px solid #aaa;
}

@media (max-width: 640px){
    #content, #sidebar{
        flex-basis: 100%;
        border-right: 0;
    }
    }
    @media (max-width:475px ){
        #sidebar{
            display: none;
        }
    }